.lvimrc
.ninja_deps
.ninja_log
.vscode/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
GPATH
GRTAGS
GTAGS
Makefile
Testing/
bin/
build.ninja
build/
cmake_install.cmake
compile_commands.json
lib/
rules.ninja
/.cproject
/.project
